.root {
  width: 50%;
}
.input {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  align-content: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
